<!doctype html>
<html>
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a new event</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->

  <!-- Custom styles for this template -->
  <link href="/stylesheets/main.css" rel="stylesheet">

  <!-- Fonts from Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
       integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
       crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
 integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
 crossorigin=""></script>


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
    <style>
    body{
      padding-top: 10px;
    }
    #mapid {
      height: 180px;
    }
    </style>
</head>

<body>
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><b>Sahim</b></a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">My Profile</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">
  <div class="row">
        
    <h1 style="padding-top:30px;height:20px;padding-bottom:30px;"><span class="fa fa-sign-in"></span> Create</h1>

    <!-- show any messages that come back with authentication -->
    <% if (typeof message !== 'undefined' && message.length > 0) {%>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>


    <!-- CREATE FORM -->
    <form style=" background-color: #fff;padding: 40px;border-radius: 10px;margin-bottom:40px;" action="/events/create" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label>startDate</label>
            <input type="date" class="form-control" name="startDate">
        </div>
        <div class="form-group">
            <label>endDate</label>
            <input type="text" class="form-control" name="endDate">
        </div>
        <div class="form-group">
            <label>address</label>
            <input type="text" class="form-control" name="address">
        </div>
        <div class="form-group">
            <label>wilaya</label>
            <input type="text" class="form-control" name="wilaya">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Create</button>
    </form>


</div>
        </div>
</div>
</body>
</html>
