<%if (typeof events != 'undefined') {%>
  <%for (var i = 0; i < events.length; i++) {%>
    <p><%=events[i].name %></p>
    <p><%=events[i].s_date %></p>
    <p><%=events[i].end_date %></p>
  <%}%>
<%}%>
