

body {
  background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333;
}

h1 {
	font-size: 40px;
    margin: 5%;
}
h2{
    font-weight: 500;
}
h3 {
	color: #95a5a6;
	font-weight: 400;
}

h4 {
	color: #95a5a6;
	font-weight: 400;
	font-size: 20px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #FD8F31;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar-default {
	background-color: #FD8F31;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.form-control {
	height: 42px;
	font-size: 18px;
	width: 280px;
}

i {
	margin: 8px;
	color: #FD8F31; 
}


/* HeaderWrap */
#headerwrap {
	background: url(../img/back.jpg) no-repeat center top;
	background-color: #FD8F31;
	margin-top: -20px;
	padding-top:165px;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.img-header{
    
    margin-top: -10px;
}
#headerwrap h1 {
	margin-top: 60px;
	margin-bottom: 15px;
	color: white;
	font-size: 45px;
	font-weight: 300;
	letter-spacing: 1px;
}
.addme{
    margin-top: -20px;
    background-color: #FD8F31;
    padding-top: 20px;
}
.login{
  
    padding-right: 20px;
    padding-left: 20px;
}
.addme .form-control{
    width: 120%;
}
footer{
    background-color: #FD8F31;
    text-align: center;
    padding: 10px;
    padding-top: 25px;
}
.feature{
    background-color: #fff;
    margin-left: 5%;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 1px 1px 1px #C0C0C0;
    
}
/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align:center;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
     box-shadow: 1px 1px 1px #C0C0C0;
    
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}
.testimonials-title h1{
    text-align: center;
}
.works-card{
    border-radius: 10px;
    background-color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: 1px 1px 1px #C0C0C0;
}
.price{
    box-shadow: 1px 1px 1px #C0C0C0;
}
footer p{
    color: #fff;
    font-weight: bold;
}
.login-form {
    font: 16px/2em Lato, serif;
	margin: 100px auto;
	max-width: 400px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] input,
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
	}
	form[role=login] > div {
		text-align: center;
	}
	
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
	.form-links a {
		color: #fff;
	}
#subheader {
	background-color: #fff;
    margin-top: -20px;
    padding-top: 70px;
    background-attachment: relative;
    background-position: center center;
    min-height: 60px;
    width: 100%;
    /* height: 100%; */
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.maping{
    height: 300px;
    width: 100%;
    background-color: #fff;
}

.search-bar form{
    padding-left: 33%;
    padding-top: 273px;
    z-index:999 !important;
    position: relative;
}
.mdl-ct{
    width: 330px;
    margin-left: auto;
    margin-right: auto;
}
.maping-details{
    height: 300px;
    width: 100%;
}
.socials{
   display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
}
.facebook{
 background-color: #1D1FA7;
 color: #fff;
}
.twitter{
 background-color: #539EF8;
 color: #fff;
}
